@page "/About"

<h1>Arcemi Save Game Editor</h1>
<p>Current version: 2.6.0</p>
<ul>
    @foreach (var game in SupportedGames.All) {
        <li>@game.Name</li>
    }
</ul>
<p>The editor utilizes a way that only reads and sets data that has been confirmed and leaves all other data untouched.
    This helps when the game is patched, since it's most likely gonna work without any changes to the editor.</p>
<h2>Get started</h2>
<p>Optional, but highly recommended is to go to settings and set game folder. If you skip this step, you might see identifiers
    in the editor rather than the names.
</p>
<p>Open the save game file by clicking Open in the save game card or by clicking Open file dialog and select your save game file.</p>
<p>Switch page and edit until satisified and then save the game file.</p>
<h2>Feats</h2>
<p>
    Feats are the source of all passives and active abilities of a character. As long as the game directory are configured,
    you'll be able to feats directly via the add feat button.
</p>
<p>
    At first adding the feat directly was hard, and I made an export/import function to export and import features. It's still working
    and I intend to keep this feature. You can find feat codes posted on the wiki
    <ExternalLink Target="ExternalLinks.WikiFeatCodes"/>
</p>