@page "/Inventory"
@inject IEditFileSession Session

@if (!Session.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else {
    <TabControl StartIndex="0">
        @if (Session.Game.SharedInventory.IsSupported) {
            <Tab Name="Party">
                <Content>
                    <InventoryView Inventory="Session.Game.SharedInventory"></InventoryView>
                </Content>
            </Tab>
        }
        @if (Session.Game.SharedStash.IsSupported) {
            <Tab Name="Stash">
                <Content>
                    <InventoryView Inventory="Session.Game.SharedStash"></InventoryView>
                </Content>
            </Tab>
        }
    </TabControl>
}

@code {
}