@page "/Inventory"
@inject IEditFileSession Session

@if (!Session.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else {
    <TabControl StartIndex="0">
        @if (Session.Game.SharedInventory.IsSupported) {
            foreach (var sect in Session.Game.SharedInventory.Sections) {
                <Tab Name="@sect.Name">
                    <Content>
                        <InventoryView Inventory="sect"></InventoryView>
                    </Content>
                </Tab>
            }
        }
        @if (Session.Game.SharedStash.IsSupported) {
            foreach (var sect in Session.Game.SharedStash.Sections) {
                <Tab Name="@sect.Name">
                    <Content>
                        <InventoryView Inventory="sect"></InventoryView>
                    </Content>
                </Tab>
            }
        }
    </TabControl>
}

@code {
}