@page "/Management"
@inject IEditFileSession Session

@if (!Session.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else if (!Session.Game.Management.IsSupported) {
    <p><em>Not available.</em></p>
}
else {
    <TabControl StartIndex="0">
        @if (Session.Game.Management.IsOverviewEnabled) {
            <Tab Name="@Session.Game.Management.DisplayName">
                <Content>
                    <KingdomView />
                </Content>
            </Tab>
        }
        @if (Session.Game.Management.IsMembersEnabled) {
            <Tab Name="@Session.Game.Management.MemberTypeName.Plural">
                <Content>
                    <GeneralsView />
                </Content>
            </Tab>
        }
        @if (Session.Game.Management.IsArmiesEnabled) {
            <Tab Name="Armies">
                <Content>
                    <ArmiesView />
                </Content>
            </Tab>
        }
        @if (Session.Game.Management.IsTasksEnabled) {
            <Tab Name="Tasks">
                <Content>
                    <TasksView />
                </Content>
            </Tab>
        }
        @if (Session.Game.Management.IsPlacesEnabled) {
            <Tab Name="@Session.Game.Management.PlacesTypeName.Plural">
                <Content>
                    <SettlementsView />
                </Content>
            </Tab>
        }
    </TabControl>
}
