@page "/State"
@inject IEditFileSession Session

@if (!Session.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else {
    <TabControl StartIndex="0">
        @if (Session.Game.Definition == GameDefinition.Pathfinder_WrathOfTheRighteous || Session.Game.Definition == GameDefinition.Pathfinder_Kingmaker) {
            <Tab Name="Vendors">
                <Content>
                    <StateVendorsView />
                </Content>
            </Tab>
        }
        @if (Session.Player.UnlockableFlags?.Items != null) {
            <Tab Name="Flags">
                <Content>
                    <StateFlagsView />
                </Content>
            </Tab>
        }
        @if (Session.Player.EtudesSystem != null) {
            <Tab Name="Etudes">
                <Content>
                    <StateEtudesView />
                </Content>
            </Tab>
        }
        @if (Session.Game.State.QuestBook is not null) {
            <Tab Name="Quests Started">
                <Content>
                    <QuestView EnableSpoilerAlert="true" Quests="Session.Game.State.QuestBook.Entries.Where(q => !q.IsCompleted)" />
                </Content>
            </Tab>
            <Tab Name="Quests Completed">
                <Content>
                    <QuestView EnableSpoilerAlert="false" Quests="Session.Game.State.QuestBook.Entries.Where(q => q.IsCompleted)" />
                </Content>
            </Tab>
        }
        @foreach (var sect in Session.Game.State.Sections) {
            <Tab Name="@sect.Name">
                <Content>
                    <GameData Data="@sect" ShowHeader="false"></GameData>
                </Content>
            </Tab>
        }
    </TabControl>
}
