@inject IGameResourcesProvider Resources

<div class="character-equipment-slot">
    <div class="row">
        <div class="col-md-2 item-icon">
            <img src="@(Item is object ? Item.GetIconUrl(Resources) : ItemType.GetIconUrl())" alt="@(Item is object ? Item.DisplayName : ItemType.DisplayName)" />
        </div>
        <div class="col-md-10">
            <div class="data-header">
                <div class="row">
                    <div class="col-md-8">
                        <label class="form-label">@Name</label>
                    </div>
                    <div class="col-md-4">
                        @if (Item is object) {
                            <button class="btn btn-sm btn-secondary" title="Copy blueprint" @onclick="() => CopyBlueprintIdentifier(Item)">
                                <span class="oi oi-paperclip"></span>
                            </button>
                            @if (Item.CanEdit()) {
                                <button class="btn btn-sm btn-secondary" title="Edit item" @onclick="() => Callback?.Invoke(this, new CharacterEquipmentSlotItemExecuteArgs(Item, isEdit: true))">
                                    <span class="oi oi-pencil"></span>
                                </button>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="data-content">
                @ItemName
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public HoldingSlotModel HoldingSlot { get; set; }

    [Parameter]
    public UnitEntityModel Unit { get; set; }

    [Parameter]
    public BlueprintType ItemType { get; set; }

    [Parameter]
    public Func<CharacterEquipmentSlot, CharacterEquipmentSlotItemExecuteArgs, Task> Callback { get; set; }

    private ItemModel Item
    {
        get {
            if (HoldingSlot is null) return null;
            if (HoldingSlot.Item is object) return HoldingSlot.Item;
            if (HoldingSlot.ItemRef.HasValue()) {
                if (Unit is null) return null;
                return Unit.Descriptor.Inventory.Items.FirstOrDefault(i => i.UniqueId.Eq(HoldingSlot.ItemRef));
            }
            return null;
        }
    }

    private string ItemName => (Item?.DisplayName) ?? "-";

    private void CopyBlueprintIdentifier(ItemModel i)
    {
        ElectronNET.API.Electron.Clipboard.WriteText(i.Blueprint);
    }
}