@using System.IO
@inject MainViewModel Model

@if (!Leaders.Any()) {
    <p class="alert alert-info">No generals found.</p>
}
else {
    <ul class="portraits leaders">
        @foreach (var unit in Leaders) {
        <li @onclick="() => SelectLeader(unit)" class="@(Unit == unit ? "toggled" : "")">
            <img src="file://@unit.PortraitPath" alt="Portrait" />
            <span>@unit.DisplayName</span>
        </li>
        }
    </ul>
    @if (Unit != null) {
        <TabControl StartIndex="0">
            <Tab Name="Overview">
                <Content>
                    <GeneralOverview Unit="Unit" />
                </Content>
            </Tab>
            <Tab Name="Attributes">
                <Content>
                    <GeneralAttributes Unit="Unit" />
                </Content>
            </Tab>
            <Tab Name="Feats (Skills)">
                <Content>
                    <GeneralSkills Unit="Unit" />
                </Content>
            </Tab>
@*            <Tab Name="Ritual">
                <Content>
                    <GeneralRitual Unit="Unit" />
                </Content>
            </Tab>*@
        </TabControl>
    }
}

@code {
    private PlayerLeaderModel Unit;

    private IEnumerable<PlayerLeaderModel> Leaders => Model.Player.LeadersManager?.Leaders?.Where(l => l.IsFactionCrusaders()) ?? Array.Empty<PlayerLeaderModel>();

    private void SelectLeader(PlayerLeaderModel unit)
    {
        Unit = unit;
    }
}