<button class="btn @GetCssSizeClass() btn-circle btn-help-tooltip">
    <span class="oi oi-question-mark"></span>
    <span class="help-tooltip @GetCssPositionClass()">
        @ChildContent
    </span>
</button>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public ElementSize? Size { get; set; }

    [Parameter]
    public TooltipPosition? Position { get; set; }

    private string GetCssSizeClass()
    {
        if (!Size.HasValue) return string.Empty;
        switch (Size.Value) {
            case ElementSize.Small: return "btn-sm";
            case ElementSize.Medium: return "btn-md";
            case ElementSize.ExtraLarge: return "btn-xl";
        }
        return string.Empty;
    }

    private string GetCssPositionClass()
    {
        var position = Position ?? TooltipPosition.BottomLeft;
        switch (position) {
            case TooltipPosition.BottomRight: return "help-tooltip-bottom-right";
        }
        return "help-tooltip-bottom-left";
    }
}