<div>
    <label for="@Id" class="form-label form-label-centered">
        @Metamagic.Name
        <Help Size="ElementSize.Small" Position="HelpPosition">
            @HelpText
        </Help>
    </label>
</div>
<div class="text-center">
    <Switch Id="@Id" @bind-IsChecked="Metamagic.IsActive" />
</div>

@code{
    [Parameter]
    public Metamagic Metamagic { get; set; }

    [Parameter]
    public RenderFragment HelpText { get; set; }

    [Parameter]
    public TooltipPosition HelpPosition { get; set; } = TooltipPosition.BottomLeft;

    private string Id => "Metamagic-" + Metamagic.UID;
}