@using System.IO
@inject TasksViewModel Model

@if (!Model.HasTasks) {
    <p class="alert alert-info">No tasks found.</p>
}
else {
    <p class="alert alert-info">To complete a task faster,
        you need to subtract the duration left (Ends in x days) displayed in game - 1.
        So if started on is 50 and the duration left is 5 days, you set the started on to 46
        to complete it in a day.</p>
    <div class="row form-list-header">
        <div class="col-md-4">
            <label class="form-label">Name</label>
        </div>
        <div class="col-md-4">
            <label class="form-label">Description</label>
        </div>
        <div class="col-md-2">
            <label class="form-label">Stat</label>
        </div>
        <div class="col-md-2">
            <label class="form-label">Started On</label>
        </div>
    </div>
    @foreach (var task in Model.Tasks) {
    <div class="row g-3">
        <div class="col-md-4 overflow-hidden">
            @task.Name
        </div>
        <div class="col-md-4">
            <span title="@task.Description">@task.Description.CutAt(100)</span>
        </div>
        <div class="col-md-2">
            @task.AssignedLeader?.Type
        </div>
        <div class="col-md-2">
            <input class="form-control" type="number" @bind="task.StartedOn" />
        </div>
    </div>
    }
}

@code {
}