@page "/About"

<h1>Arcemi Pathfinder Editor</h1>
<p>Here you can edit save game files for Pathfinder Wrath of the Righteous.</p>
<p>The editor utilizes a way that only reads and sets data that has been confirmed and leaves all other data untouched.
    This helps when the game is patched, since it's most likely gonna work without any changes to the editor.</p>
<h2>Get started</h2>
@*<p>You can configure certain settings in the configuration, this is entirely optional and can be skipped. Most will work out of the box.</p>*@
<p>Open the save game file by clicking File > Open and select your save game file.</p>
<p>Switch page and edit until satisified and then save the game file. Make sure you have a backup save.</p>
<h2>Limitations</h2>
<p>The save game file does not save your current level, it is calculated based on the experience of your characters.</p>
<p>
    Pathfinder utilizes alot of blueprints, an id that referes to a game resource. Since this editor doesn't
    actually load any game resources, it is solved by manually mapping the id's to resources. So if a field in the UI contains
    an identifier rather than the actual text you expected, then it has just not been mapped yet. The editor will still work.
    But it might be harder to locate items you are interested in.
</p>
<p>
    When a feat is added onto a character, the game simply doesn't add a flag on the character that says it not has the feat.
    Rather it adds much more complicated data. The same goes for adding items.<br />
    While it's possible to mapp all this, it will take so much time that it's not gonna make it to this editor.
</p>
<h2>Tricks</h2>
<p>
    A nice trick is to use the level downgrade option at certain levels to select feats again.
    The level downgrade feature does not remove any feats selected. So you can select other feats at the level up screen to
    add multiple feats in a new level.<br />
    Be aware that some level up choices may not work though. The game will not add any new feats, you will just keep the feats you
    selected during your first level up.<br />
    So ensure you have a backup file if you want to try this trick.
</p>
