@page "/About"

<h1>Arcemi Pathfinder Editor</h1>
<p>Here you can edit save game files for Pathfinder Wrath of the Righteous.</p>
<p>The editor utilizes a way that only reads and sets data that has been confirmed and leaves all other data untouched.
    This helps when the game is patched, since it's most likely gonna work without any changes to the editor.</p>
<h2>Get started</h2>
<p>Optional, but highly recommended is to go to settings and set game folder. If you skip this step, you might see identifiers
    in the editor rather than the names.
</p>
<p>Open the save game file by clicking Open in the save game card or by clicking Open file dialog and select your save game file.</p>
<p>Switch page and edit until satisified and then save the game file.</p>
<h2>Adding items</h2>
<p>Adding items to the inventory does not include armors, shields or weapons due to difficulty mapping those items.</p>
<p>Adding an item to a vendor table works around this. Armors, shields and weapons are not restricted there, so you can go to
    State > Vendors and add armor, shields and weapons to the vendor table.</p>
<h2>Limitations</h2>
<p>The save game file does not save your current level, it is calculated based on the experience of your characters.</p>
<p>
    When a feat is added onto a character, the game simply doesn't add a flag on the character that says it not has the feat.
    Rather it adds much more complicated data. The same goes for adding items such as weapons, armors and shields.<br />
    While it's possible to map all this, it will take so much time that it's not gonna make it to this editor.
</p>
<h2>Tricks</h2>
<p>
    A nice trick is to use the level downgrade option at certain levels to select feats again.
    The level downgrade feature does not remove any feats selected. So you can select other feats at the level up screen to
    add multiple feats in a new level.<br />
    Be aware that some level up choices may not work though. The game will not add any new feats, you will just keep the feats you
    selected during your first level up.<br />
    So ensure you have a backup file if you want to try this trick.
</p>
<p>
    Army generals has stats, but it can not be edited via the editor. The game would ignore those changes.<br />
    You can however get multiple feats on a level up. This is achieved by de-leveling the general in the editor. Which will
    not remove the selected feats chosen on that level. You can then level up the general again in the game and add another feat.
</p>