@page "/Crusade"
@inject MainViewModel Model

@if (!Model.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else {
    <TabControl StartIndex="0">
        <Tab Name="Kingdom">
            <Content>
                <KingdomView />
            </Content>
        </Tab>
        <Tab Name="Generals">
            <Content>
                <GeneralsView />
            </Content>
        </Tab>
        <Tab Name="Armies">
            <Content>
                <ArmiesView />
            </Content>
        </Tab>
        <Tab Name="Tasks">
            <Content>
                <TasksView />
            </Content>
        </Tab>
        <Tab Name="Settlements">
            <Content>
                <SettlementsView />
            </Content>
        </Tab>
    </TabControl>
}
