@page "/DevTools"
@inject IGameResourcesProvider Resources

<div class="row">
    <div class="col-md-12">
        <h3>Generate new army units mappings</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-info" @onclick="() => ProcureArmyUnitMappings()">
            <span class="oi oi-play-circle"></span>
            Generate
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <textarea class="form-control" style="height: 400px;" @bind="ArmyUnitMappingsOutput">
        </textarea>
    </div>
</div>

@code{
    private string ArmyUnitMappingsOutput;
    public void ProcureArmyUnitMappings()
    {
        var newArmyUnits = Resources.GetAvailableArmyUnits()
            .OrderBy(x => x.DisplayName)
            .Where(x => !Mappings.ArmyUnits.ContainsKey(x.Id));

        var b = new System.Text.StringBuilder();
        foreach (var au in newArmyUnits) {
            b.Append("\t\t{ \"id\": \"").Append(au.Id).Append("\", \"name\": \"").Append(au.DisplayName).AppendLine("\", \"size\": \"Default\"},");
        }
        ArmyUnitMappingsOutput = b.ToString();
    }
}