@page "/Inventory"
@inject MainViewModel Model
@using Arcemi.Pathfinder.SaveGameEditor.Components;

@if (!Model.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else if (Inv == null) {
    <p><em>Inventory was not found.</em></p>
}
else {
    @if (Inv.Inventory.Items.Count == 0) {
        <p><em>Inventory is empty.</em></p>
    }
    else {
        <InventoryView Inventory="Inv.Inventory"></InventoryView>
    }
}

@code {
    protected InventoryViewModel Inv => Model.Inventory;

    protected override async Task OnInitializedAsync()
    {
    }
}