@page "/Stash"
@inject MainViewModel Model
@using Arcemi.Pathfinder.SaveGameEditor.Components;

@if (!Model.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else if (Inv == null) {
    <p><em>Stash was not found.</em></p>
}
else {
    @if (Inv.Items.Count == 0) {
        <p><em>Stash is empty.</em></p>
    }
    else {
        <InventoryView Inventory="Inv"></InventoryView>
    }
}

@code {
    protected InventoryModel Inv => Model.SharedStash;

    protected override async Task OnInitializedAsync()
    {
    }
}