@page "/State"
@using System.IO
@using Arcemi.Pathfinder.SaveGameEditor.Components
@using Arcemi.Pathfinder.SaveGameEditor.Components.Modals
@inject MainViewModel Model

@if (!Model.CanEdit) {
    <p><em>Save file not loaded.</em></p>
}
else {
<TabControl StartIndex="0">
    <Tab Name="Vendors">
        <Content>
            <StateVendorsView />
        </Content>
    </Tab>
    @if (Model.Player.UnlockableFlags?.Items?.Count > 0) {
    <Tab Name="Flags">
        <Content>
            <StateFlagsView />
        </Content>
    </Tab>
    }
    <Tab Name="Quests Started">
        <Content>
            <QuestView EnableSpoilerAlert="true" Quests="Model.Player.QuestBook.Facts.Items.OfType<QuestFactItemModel>().Where(q => !q.IsCompleted)" />
        </Content>
    </Tab>
    <Tab Name="Quests Completed">
        <Content>
            <QuestView EnableSpoilerAlert="false" Quests="Model.Player.QuestBook.Facts.Items.OfType<QuestFactItemModel>().Where(q => q.IsCompleted)" />
        </Content>
    </Tab>
</TabControl>
}
