@inject CharacterViewModel Model
@inject IGameResourcesProvider Resources

@if (Appearance.Dolls.Count == 0) {
    <p class="alert alert-info">Character has no appearance data</p>
}
else {
<p class="alert alert-info">
    Easiest way to change appearance is to use appearance codes
</p>
<AccordionContainer>
    @foreach (var doll in Appearance.Dolls) {
        <Accordion HeaderText="@doll.Name" StartAsExpanded="@(doll == Appearance.Dolls.First())">
            <CharacterDollData DollData="doll" />
        </Accordion>
    }
</AccordionContainer>
}

@code {
    [Parameter]
    public IGameUnitAppearanceModel Appearance { get; set; }
}