@inject IGameResourcesProvider Resources

<p class="alert alert-warning">
    @if (EnableSpoilerAlert) {
    <strong>SPOILER ALERT!</strong><br />
    }
    Be very careful if you are considering to change any of these values.
    They may very well break the save game for you.
</p>

<AccordionContainer>
    @foreach(var quest in Quests) {
        <Accordion HeaderText="@quest.DisplayName(Resources)">
        <div class="row">
            <div class="col-md-3">
                <label class="form-label">State</label>
                <select class="form-control" @bind="quest.State">
                    <option value="None">None</option>
                    <option value="Started">Started</option>
                    <option value="Completed">Completed</option>
                    <option value="Failed">Failed</option>
                </select>
            </div>
        </div>
        <div class="row">
            <h4 class="col-md-12">Steps</h4>
        </div>
        <div class="form-list static-content">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Name</label>
                </div>
                <div class="col-md-3">
                    <label class="form-label">State</label>
                </div>
            </div>
            @foreach (var objective in quest.PersistentObjectives) {
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">@Resources.Blueprints.GetNameOrBlueprint(objective.Blueprint)</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" @bind="objective.State">
                        <option value="None">None</option>
                        <option value="Started">Started</option>
                        <option value="Completed">Completed</option>
                        <option value="Failed">Failed</option>
                    </select>
                </div>
            </div>
            }
        </div>
    </Accordion>
    }
</AccordionContainer>

@code {
    [Parameter]
    public bool EnableSpoilerAlert { get; set; }

    [Parameter]
    public IEnumerable<QuestFactItemModel> Quests { get; set; }
}