@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a,
.btn-link {
  color: #0366d6;
}
h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}
h4 {
  margin-top: 20px;
  font-size: 1.2rem;
}
.btn-h3 {
  margin-top: 20px;
}
.btn-h4 {
  margin-top: 20px;
}
.toolbar-h3 {
  margin-top: 20px;
}
.toolbar-h4 {
  margin-top: 20px;
}
.btn-help-tooltip {
  position: relative;
  display: inline-block;
  background-color: #e8e9ea;
  border-color: #e8e9ea;
}
.btn-help-tooltip:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.btn-help-tooltip .help-tooltip-bottom-left {
  top: 100%;
  left: 50%;
  margin-left: -270px;
  /* Width - arrow pos right - 5px (padding) */
  margin-top: 10px;
  /* Move it below the button */
}
.btn-help-tooltip .help-tooltip-bottom-left::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  right: 25px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.btn-help-tooltip .help-tooltip-bottom-right {
  top: 100%;
  left: 50%;
  margin-left: -35px;
  /* - arrow pos right - 5px * 2 (padding) */
  margin-top: 10px;
  /* Move it below the button */
}
.btn-help-tooltip .help-tooltip-bottom-right::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 25px;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.btn-help-tooltip .help-tooltip {
  width: 300px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  white-space: normal;
}
.btn-help-tooltip:hover .help-tooltip {
  visibility: visible;
}
.form-label {
  white-space: nowrap;
}
.form-label-centered {
  width: 100%;
  text-align: center;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.btn-circle {
  width: 38px;
  height: 38px;
  padding: 6px 8px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 28px;
  height: 28px;
  padding: 3px 8px;
  border-radius: 14px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}
.btn-circle.btn-sm {
  width: 20px;
  height: 20px;
  padding: 3px 0px;
  border-radius: 10px;
  font-size: 8px;
  text-align: center;
}
.main {
  overflow: hidden;
}
.content {
  padding-top: 1.1rem;
  overflow: hidden;
}
.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}
.invalid {
  outline: 1px solid red;
}
.validation-message {
  color: red;
}
.form-list-header.row > div {
  font-size: 1.1rem;
  border-bottom: solid 1px lightgray;
}
.header-toolbar {
  display: flex;
  align-items: center;
}
.overflow-cut {
  text-overflow: ellipsis;
}
ul.nav-tabs li.nav-item button {
  outline: none;
}
.accordion .accordion-item {
  margin-top: 10px;
}
.accordion .accordion-item .accordion-header {
  margin: 0;
}
.accordion .accordion-item .accordion-header .accordion-button {
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.accordion .accordion-item .accordion-header .accordion-button > span {
  flex: 1;
}
.accordion .accordion-item .accordion-header .accordion-button:after {
  content: '\e037';
  position: relative;
  top: 1px;
  display: inline-block;
  speak: none;
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.accordion .accordion-item .accordion-header .accordion-button.collapsed:after {
  content: '\e034';
  position: relative;
  top: 1px;
  display: inline-block;
  speak: none;
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.character-shared-edit {
  margin-bottom: 20px;
}
.tab-content {
  padding-top: 20px;
}
.army-unit-grid-container {
  position: relative;
  font-size: 10px;
}
.army-unit-slot {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: 100px 100px;
}
.army-unit-slot > div {
  background-color: #e8e9ea;
  border: solid 1px #d8d9da;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.army-unit-default {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: 100px 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.army-unit-default > div {
  background-color: #e8e9ea;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.army-unit-default > div.empty {
  visibility: hidden;
}
.army-unit-large-even {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
.army-unit-large-even > div {
  background-color: #e8e9ea;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.army-unit-large-even > div.empty {
  visibility: hidden;
}
.army-unit-large-odd {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: 200px;
  position: absolute;
  top: 0;
  left: 80px;
}
.army-unit-large-odd > div {
  background-color: #e8e9ea;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.army-unit-large-odd > div.empty {
  visibility: hidden;
}
ul.search-result {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-y: auto !important;
  max-height: 350px;
}
ul.search-result li.toggled {
  box-shadow: 1px 1px inset;
  background-color: #eef;
  cursor: default;
}
ul.search-result li {
  border-radius: 5px;
  margin: 5px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px;
  border: solid 1px gray;
  width: 100%;
  cursor: pointer;
}
ul.search-result li span {
  overflow-x: hidden;
  width: 100%;
  display: block;
  text-align: center;
}
ul.portraits {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto !important;
}
ul.portraits.portraits-selection {
  flex-wrap: wrap;
  height: 250px;
}
ul.portraits.portraits-selection li {
  height: 115px;
}
ul.portraits.leaders span {
  font-size: 10px;
}
ul.portraits li.toggled {
  box-shadow: 1px 1px inset;
  cursor: default;
}
ul.portraits li {
  border-radius: 5px;
  margin: 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px;
  border: solid 1px gray;
  width: 87px;
  cursor: pointer;
}
ul.portraits li img {
  object-fit: cover;
  width: 85px;
  height: 115px;
  border-radius: 5px 5px 0px 0px;
}
ul.portraits li span {
  overflow-x: hidden;
  width: 100%;
  display: block;
  text-align: center;
}
.alignment {
  margin-top: 10px;
}
.alignment .alignment-map {
  width: 220px;
  height: 220px;
  object-fit: fill;
}
.alignment .alignment-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  object-fit: scale-down;
}
.top-toolbar {
  margin-bottom: 20px;
}
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}